<h1>Listing services</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Professional</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.name %></td>
    <td><%= service.duration %></td>
    <td><%= service.price %></td>
    <td><%= link_to 'Show', admin_service_path(service) %></td>
    <td><%= link_to 'Edit', edit_admin_service_path(service) %></td>
    <td><%= link_to 'Destroy', admin_service_path(service), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_admin_service_path %>
