<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @service.name %>
</p>

<p>
  <b>Duration:</b>
  <%= @service.duration %>
</p>

<p>
  <b>Price:</b>
  <%= @service.price %>
</p>


<%= link_to 'Edit', edit_admin_service_path(@service) %> |
<%= link_to 'Back', admin_services_path %>
