<%=hidden_field_tag :client_id, @clientService.client.id%>
<p>Duração específica para<strong> <%=@client.name%></strong></p>
<p><span class="label label-inverse">Selecione o serviço a ser associado ao cliente:</span></p>
<%= select_tag :service_id, 
	options_for_select(@salon.services.collect{ |s| [s.name, s.id] }),	
	:include_blank => false,
	:id => "choose_client_service",
	:class => "chzn_a", 
	"data-placeholder" => "Selecione o serviço" %>
<br>
<br>
<p><span class="label label-inverse">Duração do serviço selecionado para <strong><%=@clientService.client.name%></strong></span></p>
<div class="input-append">              
	<%=text_field_tag :duration, "",:class => "input-mini"%>
	<span class="add-on">minutos</span>  
</div>
</p>
