<div id="content" class="span8 dashboard">
	<div class="post-single all-events">
		<div class="article-header">
			<h1 class="title">
				Próximos agendamentos
			</h1>			
			<div class="separator"></div>
			<%i = 0%>
			<%while i < @events.size do%>
			<%event = @events[i]%>				
			<div>
				<h3 class="post-lead" data-toggle="collapse" data-target="#<%=event.start_at.to_date%>">
					<%=format_date_header event.start_at.to_date%> 
					<a class="icon <%=i == 0 ? 'ent-minus' : 'ent-plus'%> pull-right"></a>						
				</h3>	
				<div class="events collapse <%=i == 0 ? 'in' : ''%>" id="<%=event.start_at.to_date%>">
					<%=render :partial => "dashboard_event", :locals => {:event => event}%>
					<%i+=1%>						
					<%while i < @events.size && @events[i].start_at.to_date == @events[i-1].start_at.to_date do%>
					<%event = @events[i]%>
					<%=render :partial => "dashboard_event", :locals => {:event => event}%>
					<%i+=1%>
					<%end%>
				</div>	
			</div>				
			<%end%>			

		</div>
	</div>
</div>

<div id="right-sidebar" class="span4 favorite_salons">
	<%=render "/salons/favorite_salons"%>
</div>