<div class="modal hide fade" id="new_client">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Adicionar Cliente</h3>
  </div>
  <div class="modal-body">
    <div class="wizard-nav wizard-nav-horizontal">
      <ul>
        <li class="active">
          <a href="#registered" data-toggle="tab">
            <span>
              <i class="icon-ok-circle"></i> 
              Cliente com conta no Instanapp
            </span>
          </a>
        </li>
        <li>
          <a href="#not_registered" data-toggle="tab">
            <span>
              <i class="icon-remove-circle"></i> 
              Cliente sem conta no Instanapp
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content client-manager-model">
      <div id="registered" class="select_client tab-pane active">
        <div class="registered-search">
          <%=render "admin/clients/search_registered_client"%>                          
        </div>
        <div class="registered-result"></div>

        
      </div>  
      <div id="not_registered" class="tab-pane">
        <div class="widget">          
          <div class="widget-content form-container">
            <%@new_client = Client.new%>
            <%= simple_form_for([:admin,@new_client],:html=>{:class=>"form-horizontal",:remote=>true}) do |f| %>
            <%=f.input :name, :label => "Nome"%>
            <%=f.input :celphone, :label => "Celular", :input_html=>{:class => "phone"}%>                      
            <%=f.input :email, :label => "E-mail"%>             
            <div class="form-actions">
              <%=f.submit "Salvar", :class => "btn btn-primary", :disable_with => "Salvando..."%>              
            </div>      
            <%end%>
          </div>
        </div>        
      </div>
    </div>    
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss='modal'>Cancelar</a>    
  </div>  
</div>