<div class="modal hide fade" id="new_client">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Adicionar Cliente</h3>
  </div>
  <div class="modal-body">
    <div class="wizard-nav wizard-nav-horizontal">
      <ul>
        <li class="active">
          <a href="#registered" data-toggle="tab">
            <span>
              <i class="icon-ok-circle"></i> 
              Cliente com conta no Instanapp
            </span>
          </a>
        </li>
        <li>
          <a href="#not_registered" data-toggle="tab">
            <span>
              <i class="icon-remove-circle"></i> 
              Cliente sem conta no Instanapp
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content client-manager-model">
      <div id="registered" class="select_client tab-pane active">
        <div class="registered-search">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active">
              <a href="#email-search" data-toggle="tab">Busca por Email</a>
            </li>
            <li class="">
              <a href="#phone-search" data-toggle="tab">Busca por Celular</a>
            </li>          
          </ul>
          <div class="tab-content">          
            <div class="tab-pane fade active in" id="email-search">
              <%=form_tag search_admin_clients_path, :class => "form-vertical", :remote => true, :method => :get do |f|%>
              <div class="formSep">
                <label>Digite o email do cliente</label>
                <div class="input-append">
                  <%=text_field_tag :email%><%=submit_tag "Buscar", :class => "btn"%>  
                </div>                
                <span class="help-block">Deve ser o mesmo usado no Instanapp</span>                
              </div>
              <%end%>    
            </div>

            <div class="tab-pane fade" id="phone-search">
              <%=form_tag search_admin_clients_path, :class => "form-vertical", :remote => true, :method => :get do |f|%>
              <div class="formSep">
                <label>Digite o celular do cliente</label>
                <div class="input-append">
                  <%=text_field_tag :celphone,"", :class => "phone"%> <%=submit_tag "Buscar", :class => "btn"%>  
                </div>                
                <span class="help-block">Deve ser o mesmo usado no Instanapp</span>                
              </div>    
              <%end%>
            </div>          
          </div>                          
        </div>
        <div class="registered-result"></div>

        
      </div>  
      <div id="not_registered" class="tab-pane">
        <div class="widget">          
          <div class="widget-content form-container">
            <%@new_client = Client.new%>
            <%= simple_form_for([:admin,@new_client],:html=>{:class=>"form-horizontal",:remote=>true}) do |f| %>
            <%=f.input :name, :label => "Nome"%>
            <%=f.input :celphone, :label => "Celular", :class => "phone"%>                      
            <%=f.input :email, :label => "E-mail"%>             
            <div class="form-actions">
              <%=f.submit "Salvar", :class => "btn btn-primary", :disable_with => "Salvando..."%>              
            </div>      
            <%end%>
          </div>
        </div>        
      </div>
    </div>    
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss='modal'>Cancelar</a>    
  </div>  
</div>