var client_selection = '<div class="w-box"> \
        <div class="w-box-header"> \
          Cliente encontrado no Instanapp \
          <div class="pull-right"><a href="#" class="back_to_form">Voltar</a></div> \
        </div> \
        <div class="w-box-content"> \
          <table class="table table-striped table_vam no-th"> \
            <tbody> \
            <tr class="client_info" data-id="<%=@client.id%>"> \
              <td> \
                <img alt="" src="http://placehold.it/40x40/efefef" class="thumbnail"> \
              </td> \
              <td>\
              <%=escape_javascript(@client.name)%></td> \
              <td> \
                <%=formatted_phone(@client.celphone)%> \
              </td> \
              <td><%=@client.email%></td> \
              <td><%=@client.city%></td> \
            </tr> \
          </tbody></table> \
        </div> \
      </div>';
var shown_div = $("#new_client .modal-body .select_client:not(.hidden)");
shown_div.find(".loading").fadeOut('slow',function(){
	$(client_selection).hide().appendTo(shown_div).fadeIn("slow");	
});

$("#new_client .modal-footer .btn-primary").text("Adicionar Cliente");