<div class="row-fluid">
  <div class="switch-board-round">
    <ul class="clearfix">
      <li class="<%=active_action('services','new')%>">
        <%=link_to new_admin_service_path, :class => "tip-top", :rel => "tooltip", "data-original-title" => "Novo Serviço" do%>  
          <span class="icon-plus"></span>
        <%end%>
      </li>
      <li class="<%=active_action('services','index')%>">
        <%=link_to admin_services_path, :class => "tip-top", :rel => "tooltip", "data-original-title" => "Listar Serviços" do%>  
          <span class="icon-list"></span>
        <%end%>
      </li>
      <%if action_name == "show"%>
        <li>
        <%=link_to edit_admin_service_path(@service), :class => "tip-top", :rel => "tooltip", "data-original-title" => "Editar Serviço" do%>  
          <span class="icon-edit"></span>
        <%end%>
      </li>
      <%end%>
   </ul>
 </div>
</div>