<%= simple_form_for([:admin, @service],:html=>{:class=>"form-horizontal well"}) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-content">

    <%=f.input :name, :label => 'Nome'%>
    <%=f.input :duration, :label => 'Duração'%>
    <%=f.input :price, :label => 'Preço'%>

    <%= link_to 'Cancelar', admin_services_path , :class=> "btn"%>
    <%=f.submit "Salvar", :class=> "btn", :disable_with => "Salvando..."%>

</div>

<% end %>

<script>
	$(function() {
		$( "#slider" ).slider({
			value:15,
			min: 1,
			max: 59,
			step: 1,
			slide: function( event, ui ) {
				$( "#duration" ).val( ui.value);
			}
		});
		$( "#duration" ).val( $( "#slider" ).slider( "value" ));
	});
</script>
