<%= form_for([:admin, @service],:html=>{:class=>"form-horizontal well"}) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>

  <div class="control-group">
    <%=f.label "Nome", :class => "control-label"%>
    <div class="controls">
      <%=f.text_field :name%>
    </div>
  </div>
  <div class="control-group">
     <%=f.label "Duração", :class => "control-label"%>
    <div class="controls">
      <%=f.number_field :duration%>
    </div>
  </div>
  <div class="control-group">
    <%=f.label "Preço", :class => "control-label"%>
    <div class="controls">
      <%=f.text_field :price%>
    </div>
   </div>
<div class="control-group">
</div>
</fieldset>
<div class="modal-footer">
        <%= link_to 'Cancelar', admin_services_path , :class=> "btn"%>
        <%=f.submit "Salvar", :class=> "btn"%>
    </div>
<% end %>

<script>
	$(function() {
		$( "#slider" ).slider({
			value:15,
			min: 1,
			max: 59,
			step: 1,
			slide: function( event, ui ) {
				$( "#duration" ).val( ui.value);
			}
		});
		$( "#duration" ).val( $( "#slider" ).slider( "value" ));
	});
</script>
