<div class="fc">
  <div class="fc-header" style="width:100%">              
         Listing services         
  </div>
  <div id="service_content">
    <table>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Professional</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.name %></td>
    <td><%= service.duration %></td>
    <td><%= service.price %></td>
    <td><%= link_to 'Show', admin_service_path(service) %></td>
    <td><%= link_to 'Edit', edit_admin_service_path(service) %></td>
    <td><%= link_to 'Destroy', admin_service_path(service), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
  </div>
</div>



<div class="row-fluid">
	<div class="span12">
		<h2 class="heading">Serviços</h2>
		<table class="table table-bordered table-striped table_vam" id="dt_gal">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Duração</th>
					<th>Preço</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>

				<%@events.each do |event|%>
				<tr>					
					<td>
						<%= service.name %>
					</td>
					<td>
						<%= service.duration %>
					</td>
					<td>
						<%= service.price %>
					</td>
					<td>
						<%=link_to [:admin,service], 
						"data-method-type" => :delete, 
						:class => "btn btn-mini pull-right btn-danger confirmable",
						"data-message" => "Deseja realmente excluir este serviço?" do%>
						<i class="icon-trash"></i>
						Excluir
						<%end%>
					</td>
				</tr>
				<%end%>
			</tbody>
		</table>

	</div>
</div>
