<div class="row-fluid">
	<div class="span12">
		<ul class="dshb_icoNav clearfix">
			<li>
				<%=link_to "Novo", new_admin_service_path, :style=> "background-image: url(/assets/gCons/add-item.png)"%>
			</li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<h2 class="heading">Serviços</h2>
		<table class="table table-bordered table-striped table_vam" id="dt_gal">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Duração</th>
					<th>Preço</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>

				<%@services.each do |service|%>
				<tr>					
					<td>
						<%= service.name %>
					</td>
					<td>
						<%= service.duration %>
					</td>
					<td>
						<%= service.price %>
					</td>
          <td>
						<%=link_to edit_admin_service_path(service), 
						:class => "btn btn-mini pull-right btn-warning" do%>
						<i class="icon-edit"></i>
						Editar
						<%end%>
					<td>
						<%=link_to admin_service_path(service), 
            confirm: 'Deseja realmente excluir este serviço?',
            method: :delete,
						:class => "btn btn-mini pull-right btn-danger confirmable" do%>
						<i class="icon-trash"></i>
						Excluir
						<%end%>
					</td>
				</tr>
				<%end%>
			</tbody>
		</table>

	</div>
</div>
