<%=render "top_menu"%>

<header>
	<h2>Detalhes do Serviço</h2>
</header>

<div id="main-content">
	<%=render "context_menu"%>
	<div class="row-fluid">
		<div class="form-horizontal widget span6">
			<div class="widget-header">
				<span class="title">Informações do Serviço</span>
				<div class="toolbar">
					<%=link_to edit_admin_service_path(@service), :class => "btn btn-gebo btn-mini" do%>
					<i class="icon-edit"></i>
					Editar Serviço
					<%end%>
				</div>
			</div>

			<div class="widget-content table-container">
				<table class="table table-striped table-detail-view">
					<tbody>
						<tr>
							<th>Nome</th>
							<td><%=@service.name%></td>
						</tr>
						<tr>
							<th>Preço</th>
							<td><%= number_to_currency @service.price if @service.price%></td>
						</tr>					
						<tr>
							<th>Duração</th>
							<td><%=distance_of_time(@service.duration*60)%></td>
						</tr>
					</tbody>					
				</table>
			</div>		
		</div>
		<!-- Informações dos tempos específicos para o serviço do cliente -->
		<%=render "/admin/client_services/index"%>
	</div>

		
		
</div>
