<%=render "top_menu"%>

<div id="main-header" class="page-header">
	<h1 id="main-heading">
		Detalhes do Serviço <span><%=@service.name%></span>
	</h1>

</div>
<div id="main-content">
	<%=render "context_menu"%>
	<div class="row-fluid">
		<div class="form-horizontal widget">
			<div class="widget-header">
				<span class="title">Informações do Serviço</span>
				<div class="toolbar">
					<%=link_to edit_admin_service_path(@service), :class => "btn btn-gebo btn-mini" do%>
					<i class="icol-application-edit"></i>
					Alterar Serviço
					<%end%>
				</div>
			</div>

			<div class="widget-content table-container">
				<table class="table table-striped table-detail-view">
					<tbody>
						<tr>
							<th>Nome</th>
							<td><%=@service.name%></td>
						</tr>
						<tr>
							<th>Preço</th>
							<td><%= number_to_currency @service.price if @service.price%></td>
						</tr>					
						<tr>
							<th>Duração</th>
							<td><%=distance_of_time(@service.duration*60)%></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">
								<div class="btn-toolbar pull-left">
									<span style="margin-right:5px;"><strong>Action:</strong></span> 
									<div class="btn-group">
										<%=link_to :back, :class => "btn", :rel => "tooltip", "data-original-title" => "Voltar" do%>
										<i class="icol-arrow-left"></i>
										<%end%>
										<%=link_to edit_admin_service_path(@service), :class => "btn", :rel => "tooltip", "data-original-title" => "Alterar" do%>
										<i class="icol-pencil"></i>
										<%end%>

										
										<%=link_to [:admin, @service], :class => "btn confirmable", :rel => "tooltip", "data-original-title" => "Excluir", "data-message" => "Deseja realmente remover este serviço?", "data-method-type" => :delete do%>
										<i class="icol-cross"></i>
										<%end%>										
									</div>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>		
		</div>
		<!-- Informações dos tempos específicos para o serviço do cliente -->
		<%=render "/admin/client_services/index"%>
	</div>

		
		
</div>
