<%= javascript_include_tag "#{Moip.uri}/transparente/MoipWidget-v2.js", :charset=>"ISO-8859-1" %>
<!-- Modal que econterá os dados do pagamento -->



<!-- Fim do modal -->

<header>
	<h2>Gerenciamento do Salão</h2>
</header>

<div id="main-content">
	<%if @salon.is_incomplete?%>
	<div class="row-fluid">
		<div class="span12 widget">
			<div class="widget-content form-container">				
				<%if @salon.incomplete_address?%>
				<div class="control-group">
					<label class="control-label">
						Você precisa completar seu cadastro para que seu salão apareça para seus clientes
					</label>
					<div class="controls">						
						<%=link_to "Completar Cadastro", edit_admin_salon_path(@salon), :class => "btn btn-primary" %>	
					</div>
				</div>
				<%end%>
				<%if @salon.no_services?%>
				<div class="control-group">
					<label class="control-label">
						Você precisa adicionar serviços e funcionários antes de poder realizar seus agendamentos
					</label>
					<div class="controls">					
						<%=link_to "Adicionar Serviços", admin_services_path, :class => "btn btn-primary" %>
					</div>
				</div>
				<%end%>					
			</div>
		</div>
	</div>
	<%end%>
	<div class="row-fluid">
		<div class="form-horizontal widget span6">
			<div class="widget-header">
				<span class="title">
					Detalhes do Salão
				</span>
				<div class="toolbar">
					<%=link_to edit_admin_salon_path(@salon), :class => "btn btn-gebo btn-mini" do%>
					<i class="icon-edit"></i>
					Editar Salão
					<%end%>
				</div>
			</div>
			<div class="widget-content table-container">
				<table class="table table-detail-view">
					<tbody>
						<tr>
							<th>Código</th>
							<td><%=@salon.id%></td>
						</tr>
						<tr>
							<th>Nome</th>
							<td><%=@salon.name%></td>
						</tr>
						<tr>
							<th>Login</th>
							<td><%=@salon.username%></td>
						</tr>
						<tr>
							<th>Telefone Fixo</th>
							<td><%=@salon.landphone%></td>
						</tr>
						<tr>
							<th>Telefone Celular</th>
							<td><%=@salon.celphone%></td>
						</tr>
						<tr>
							<th>Logo</th>
							<td><%=image_tag @salon.logo.url(:thumb) if @salon.logo%></td>
							<td>
								<%= direct_upload_form_for @uploader do |f| %>
								<p><%= f.file_field :logo %></p>
								<p><%= f.submit "Upload Image" %></p>
								<% end %>
							</td>
						</tr>
						<tr>
							<th>Email</th>
							<td><%=@salon.email%></td>
						</tr>
						<tr>
							<th>Endereço</th>
							<td>
								<%if @salon.address%>
								<address>                
									<%=@salon.address%> , <%=@salon.number%>                
									<br />
									<%=@salon.city%>/<%=@salon.state%>  <%=@salon.zipcode%>								
								</address>
								<%end%>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<% if can? :read, @professional%>
		<div class="form-horizontal widget span6">
			<div class="widget-header">
				<span class="title">
					Pagamentos
				</span>
				<div class="toolbar">

				</div>
			</div>
			<div class="widget-content">
				<%#=render "payment_table"%>
				<h5>Você está isento de pagamento até o início do lançamento para todo o público</h5>			
			</div>
		</div>
	</div>
	<%end%>	
</div>
