<%= javascript_include_tag "#{Moip.uri}/transparente/MoipWidget-v2.js", :charset=>"ISO-8859-1" %>
<!-- Modal que econterá os dados do pagamento -->



<!-- Fim do modal -->

<header>
	<h2>Gerenciamento do Salão</h2>
</header>

<div id="main-content">
	<%if @salon.is_incomplete?%>
		<div class="row-fluid">
			<div class="span12 widget">
				<div class="widget-content form-container">				
					<%if @salon.incomplete_address?%>
					<div class="control-group">
						<label class="control-label">
							Você precisa completar seu cadastro para que seu salão apareça para seus clientes
						</label>
						<div class="controls">						
							<%=link_to "Completar Cadastro", edit_admin_salon_path(@salon), :class => "btn btn-primary" %>	
						</div>
					</div>
					<%end%>
					<%if @salon.no_services?%>
					<div class="control-group">
						<label class="control-label">
							Você precisa adicionar serviços e funcionários antes de poder realizar seus agendamentos
						</label>
						<div class="controls">					
							<%=link_to "Adicionar Serviços", admin_services_path, :class => "btn btn-primary" %>
						</div>
					</div>
					<%end%>					
				</div>
			</div>
		</div>
	<%end%>
	<div class="row-fluid">
		<div class="form-horizontal widget span6">
			<div class="widget-header">
				<span class="title">
					Detalhes do Salão
				</span>
				<div class="toolbar">
					<%=link_to edit_admin_salon_path(@salon), :class => "btn btn-gebo btn-mini" do%>
						<i class="icon-edit"></i>
						Editar Salão
					<%end%>
				</div>
			</div>
			<div class="widget-content table-container">
				<table class="table table-striped table-detail-view">
					<tbody>
						<tr>
							<th>Código</th>
							<td><%=@salon.id%></td>
						</tr>
						<tr>
							<th>Nome</th>
							<td><%=@salon.name%></td>
						</tr>
						<tr>
							<th>Login</th>
							<td><%=@salon.username%></td>
						</tr>
						<tr>
							<th>Telefone Fixo</th>
							<td><%=@salon.landphone%></td>
						</tr>
						<tr>
							<th>Telefone Celular</th>
							<td><%=@salon.celphone%></td>
						</tr>
						<tr>
							<th>Logo</th>
							<td><%=image_tag @salon.logo.url(:thumb)%></td>
						</tr>
						<tr>
							<th>Email</th>
							<td><%=@salon.email%></td>
						</tr>
						<tr>
							<th>Endereço</th>
							<td>
								<%if @salon.address%>
									<address>                
										<%=@salon.address%> , <%=@salon.number%>                
										<br />
										<%=@salon.city%>/<%=@salon.state%>  <%=@salon.zipcode%>								
									</address>
								<%end%>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<% if can? :read, @professional%>
		<div class="form-horizontal widget span6">
			<div class="widget-header">
				<span class="title">
					Pagamentos
				</span>
				<div class="toolbar">

				</div>
			</div>
			<div class="widget-content table-container">
				<table class="table table-striped table-flipscroll form-inline">
					<thead>
						<tr>
							
							<th>Data de Vencimento</th>
							<th>Data de Pagamento</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>						
						<%@payments.each do |p| %>
						<tr id="p<%=@currentSubscription.id%>">
							
							<td><%=p.due_date.strftime("%d de %B de %Y")%></td>
							<td><%=p.payment_date%></td>							
							<td> <span class="badge badge-<%=payment_status_type(p.status)%>"><%=p.status%></span></td>	
							<td class="action-col">
								<%if Payment::STATUS.key(p.status) != 1 && Payment::STATUS.key(p.status) != 4%>
								<span class="btn-group">
									<%=link_to admin_salon_payments_checkout_path(@salon, :payment => p.id), :remote => true, :class => "btn btn-primary", :id => "payment_btn", :method => :post do%>
									<i class="icon-money"></i>
									Pagar
									<%end%>									
								</span>
								<%end%>
                <%if Payment::STATUS.key(p.status) == 4%>
								<span class="btn-group">
									<%=link_to admin_salon_payments_receipt_path(@salon, :payment_id => p.id), :class => "btn btn-primary", :id => "invoice_btn", :method => :get do%>
                  <i class="icon-search"></i>																				
                  Recibo
									<%end%>									
								</span>
								<%end%>
							</td>
						</tr>						
						<%end%>
						<%if @currentSubscription.payments.size == 0%>
						<tr>
							<td colspan="5">
								Você não possui mensalidades
							</td>
						</tr>

						<%end%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<%end%>	
</div>
