<div class="event-modal">
	<div class="event-modal-header">
		<h3><%=@event.title%></h3>
	</div>
	<div class="event-modal-body">
		<form class="form-horizontal">
					<fieldset>
						<div class="control-group formSep">
							<label class="control-label"><strong>Descrição</strong></label>
							<div class="controls text_line">
								<%=@event.description%>
							</div>
						</div>
						<div class="control-group formSep">
							<label class="control-label"><strong>Cliente</strong></label>
							<div class="controls text_line">
								<%=@event.client.name if @event.client%>
							</div>
						</div>
						<div class="control-group formSep">
							<label class="control-label"><strong>Início</strong></label>
							<div class="controls text_line">
								<%=@event.start_at.strftime("%A, %d de %B às %H:%M")%>
							</div>
						</div>
						<div class="control-group formSep">
							<label class="control-label"><strong>Fim</strong></label>
							<div class="controls text_line">
								<%=@event.end_at.strftime("%A, %d de %B às %H:%M")%>
							</div>
						</div>
						<div class="control-group formSep">
							<label class="control-label"><strong>Duração</strong></label>
							<div class="controls text_line">
								<%=distance_of_time_in_words(@event.start_at,@event.end_at)%>
							</div>
						</div>
					</fieldset>
				</form>
	</div>
	<div class="event-modal-footer">
		<a href="javascript:void(0)" class="btn close-tooltip">Fechar</a>
	</div>
</div>