<%=render "top_menu"%>
<%=render "/admin/clients/modal_form"%>
<%puts @event.errors.messages%>
<header>
	<h2>Agendamento Manual</h2>
</header>

<div id="main-content">
	<%=render "context_menu"%>
	<div class="row-fluid">
		<div class="span12 widget">
			<div class="widget-header">
				<span class="title">Dados do Evento</span>
			</div>
			<div class="widget-content form-container form-content">
				<%= simple_form_for([:admin,@event],:html=>{:class=>"form-horizontal", :id=> "new_admin_event_form", :data => {:remote => true}}) do |f| %>				
				<div class="hidden">
					<%=f.input :start_at, :input_html => {:id => "datetime_from"}, :as => :string%>
					<%=f.input :end_at, :input_html => {:id => "datetime_to"}, :as => :string%>    
				</div>
				<div class="control-group string required">
					<label for="" class="control-label">
						<abbr title="Obrigatório">*</abbr> Horário
					</label>
					
					<div class="controls">
						
						<input class="string required input-small" data-behaviour="datepicker" id="date_from_picker" type="text">
						-
						<input class="string required input-mini" data-behaviour="timepicker" id="time_from_picker" type="text">

						até

						<input class="string required input-mini" data-behaviour="timepicker" id="time_to_picker" type="text">
						-
						<input class="string required input-small" data-behaviour="datepicker" id="date_to_picker" type="text">

					</div>
				</div>				
				<div class="control-group">
					<label for="" class="control-label">
						Cliente
					</label>
					<div class="controls">
						<%=render "/admin/events/choose_client"%>  		
					</div>					
				</div>
				<div class="control-group">
					<label for="" class="control-label">
						Funcionário
					</label>
					<div class="controls">
						<%=render "/admin/events/choose_professional"%>  		
					</div>					
				</div>
				<div class="control-group">
					<label for="" class="control-label">
						Serviço
					</label>
					<div class="controls">
						<%=render "/admin/events/choose_service"%>  		
					</div>					
				</div>								
				<div class="form-actions">
					<%=f.submit "Salvar", :class => "btn btn-primary"%>
					<%=link_to "Cancelar", :back, :class => "btn"%>
				</div>			
				<%end%>
			</div>
		</div>
	</div>
</div>