<%=render "top_menu"%>

<div id="main-header" class="page-header">
	<h1 id="main-heading">
		Detalhes do Agendamento <span> em <%=distance_of_time_in_words(@event.start_at,Date.today)%></span>
	</h1>
</div>

<div id="main-content">
	<div class="row-fluid">
		<div class="form-horizontal widget">
			<div class="widget-header">
				<span class="title">
					Detalhes do Agendamento
				</span>
				<div class="toolbar">
					<%=link_to "Remarcar Evento", edit_admin_event_path(@event), :class => "btn btn-mini" %>
				</div>
			</div>
			<div class="widget-content table-container">
				<table class="table table-striped table-detail-view">
					<tbody>
						<tr>
							<th>Código</th>
							<td><%=@event.id%></td>
						</tr>
						<tr>
							<th>Salão</th>
							<td><%=link_to @event.salon.name, [:admin,@event.salon]%></td>
						</tr>
						<tr>
							<th>Cliente</th>
							<td><%=link_to @event.client.name, [:admin,@event.client] if @event.client%></td>
						</tr>
						<tr>
							<th>Serviço</th>
							<td><%=@event.service.name if @event.service%></td>
						</tr>
						<tr>
							<th>Início</th>
							<td><%=@event.start_at.strftime("%d de %B às %H:%Mh") + "  (em #{distance_of_time_in_words(DateTime.now,@event.start_at)})" if @event.salon%></td>
						</tr>
						<tr>
							<th>Fim</th>
							<td><%=@event.end_at.strftime("%d de %B às %H:%Mh") if @event.salon%></td>
						</tr>
						<tr>
							<th>Duração</th>
							<td><%=distance_of_time_in_words(@event.start_at,@event.end_at)%></td>
						</tr>
						<tr>
							<th>Situação</th>
							<td>
								<span class="badge badge-<%=event_type(@event)%>">
                                                <%=@event.status%>
                                            </span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>		