<!DOCTYPE html>
<html>
<head>
	<title>Instanapp - Administrativo</title>
	<%= stylesheet_link_tag    "application-admin", :media => "all" %>
	<%= javascript_include_tag "application-admin" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="modal hide fade" id="confirmation-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Confirmação</h3>
		</div>
		<div class="modal-body">
			<p></p>
		</div>
		<div style="display:none" class="link" data-destination="">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss = "modal">Cancelar</a>
			<a class="btn btn-primary" id="confirm-btn">Confirmar</a>
		</div>
	</div>
	<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>
	<div class="modal hide" id="loading-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Carregando...</h3>
		</div>
		<div class="modal-body">
			<p>
				Processando, por favor aguarde...								
			</p>
			<br />
			<%=image_tag "/assets/ajax_loader.gif"%>
		</div>
		<div style="display:none" class="link" data-destination="">
		</div>		
	</div>		
	<aside id="aside_sidebar" class="collapse">
		<div class="logo">
			<a href="index.html"></a>
		</div>
		<ul id="sidebar_menu" class="navbar nav nav-list sidebar_box">
			<li class="accordion-group <%=active_class('dashboard')%>">
				<%=link_to admin_dashboard_path do%>	
					<%=image_tag "/assets/menu_icons/dashboard.png"%>								
					Dashboard
				<%end%>				
			</li>
			<li class="accordion-group <%=active_class('events')%>">
				<%=link_to "#collapse1", :class => "accordion-toggle widgets collapsed", :data => {:toggle => "collapse", :parent => "#sidebar_menu"} do%>	
					<%=image_tag "/assets/menu_icons/calendar.png"%>								
					Agenda
					<i class="icon-chevron-right carret"></i>
				<%end%>					
				<ul id="collapse1" class="accordion-body collapse">
					<li>
						<%=link_to admin_events_path do%>
							<i class="icon-list"></i>
							Listar Agendamentos
						<%end%>
					</li>		
					<li>
						<%=link_to easy_new_admin_events_path do%>
							<i class="icon-magic"></i>
							Agendamento Fácil
						<%end%>
					</li>			
					<li>
						<%=link_to new_admin_event_path do%>
							<i class="icon-plus"></i>
							Novo Agendamento
						<%end%>
					</li>
				</ul>
			</li>
			<li class="accordion-group <%=active_class('services')%>">
				<%=link_to "#collapse3", :class => "accordion-toggle widgets collapsed", :data => {:toggle => "collapse", :parent => "#sidebar_menu"} do%>	
					<%=image_tag "/assets/menu_icons/tools.png"%>								
					Serviços
					<i class="icon-chevron-right carret"></i>
				<%end%>					
				<ul id="collapse3" class="accordion-body collapse">
					<li>
						<%=link_to admin_services_path do%>
							<i class="icon-list"></i>
							Listar Serviços
						<%end%>
					</li>							
					<li>
						<%=link_to new_admin_service_path do%>
							<i class="icon-plus"></i>
							Novo Serviço
						<%end%>
					</li>
				</ul>
			</li>
			<li class="accordion-group <%=active_class('professionals')%>">
				<%=link_to "#collapse2", :class => "accordion-toggle widgets collapsed", :data => {:toggle => "collapse", :parent => "#sidebar_menu"} do%>	
					<%=image_tag "/assets/menu_icons/profile.png"%>								
					Funcionários
					<i class="icon-chevron-right carret"></i>
				<%end%>					
				<ul id="collapse2" class="accordion-body collapse">
					<li>
						<%=link_to admin_professionals_path do%>
							<i class="icon-list"></i>
							Listar Funcionários
						<%end%>
					</li>							
					<li>
						<%=link_to new_admin_professional_path do%>
							<i class="icon-plus"></i>
							Novo Funcionário
						<%end%>
					</li>
				</ul>
			</li>
			<li class="accordion-group <%=active_class('clients')%>">
				<%=link_to "#collapse4", :class => "accordion-toggle widgets collapsed", :data => {:toggle => "collapse", :parent => "#sidebar_menu"} do%>	
					<%=image_tag "/assets/menu_icons/users.png"%>								
					Clientes
					<i class="icon-chevron-right carret"></i>
				<%end%>					
				<ul id="collapse4" class="accordion-body collapse">
					<li>
						<%=link_to admin_clients_path do%>
							<i class="icon-list"></i>
							Listar Clientes
						<%end%>
					</li>							
					<li>
						<%=link_to new_admin_client_path do%>
							<i class="icon-plus"></i>
							Novo Cliente
						<%end%>
					</li>
				</ul>
			</li>
			<li class="accordion-group <%=active_class('salons')%>">
				<%=link_to [:admin, @salon] do%>	
					<%=image_tag "/assets/menu_icons/settings.png"%>								
					Gerenciar Salão
				<%end%>									
			</li>

		</ul>
		<!-- End sidebar_box -->
	</aside>
	<div id="main">		
		<div class="container">				
			<div class="container_top" id="header">
				<div class="row-fluid ">
					<div id="dropdown-lists">
						<%=link_to :back, :class => "item" do%>
							<span class="item-icon">
								<i class="icon-arrow-left"></i>
							</span>
							<span class="item-label">Voltar</span>								
							<%end%>
					<%=yield(:top_menu)%>						
					</div>
					
					<div class="top_right">     
						<ul class="nav nav_menu">                
						</ul>
					</div> <!-- End top-right -->
				</div>
			</div>
			<div id="container2">
				<%= yield %>	
			</div>
		</div>
		<div id="footer">
			<p>
				© Bird Admin Template 2012
			</p>
			<span class="company_logo"><a href="http://www.pixelgrade.com"></a></span>
		</div>
	</div>
</body>
<script type="text/javascript">
<% flash.each do |name, msg| %>		
var noty = noty(
{
	text: '<%=escape_javascript(msg)%>',
	type: "<%= escape_javascript(name.to_s == 'notice' ? 'success' : 'error')%>",
	timeout: 4000
}
);
<%end%>				
</script>

</html>
