<!DOCTYPE html>
<html>
<head>
	<title>InstaBeauty - Administrativo</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="admin-body">
	<div class="modal hide fade" id="confirmation-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Confirmação</h3>
		</div>
		<div class="modal-body">
			<p></p>
		</div>
		<div style="display:none" class="link" data-destination="">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss = "modal">Cancelar</a>
			<a class="btn btn-primary" id="confirm-btn">Confirmar</a>
		</div>
	</div>
	<div class="modal hide" id="loading-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Carregando...</h3>
		</div>
		<div class="modal-body">
			<p>
				Processando, por favor aguarde...								
			</p>
			<br />
			<%=image_tag "/assets/ajax_loader.gif"%>
		</div>
		<div style="display:none" class="link" data-destination="">
		</div>		
	</div>	
	<div id="wrapper">		
		<!-- main content -->
		<header id="header" class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<div class="brand-wrap pull-left">
						<div class="brand-img">
							<a class="brand" href="#">
								<%=image_tag "/assets/logo.png"%>
							</a>
						</div>
					</div>
					<div id="header-right" class="clearfix">
						<div id="nav-toggle" data-toggle="collapse" data-target="#navigation" class="collapsed">
							<i class="icon-caret-down"></i>
						</div>
						<div id="header-search">
							<span id="search-toggle" data-toggle="dropdown">
								<i class="icon-search"></i>
							</span>													
						</div>
						<div id="dropdown-lists">
							<%=link_to :back, :class => "item" do%>
							<span class="item-icon">
								<i class="icon-arrow-left"></i>
							</span>
							<span class="item-label">Voltar</span>								
							<%end%>
							<%=yield(:top_menu)%>
						</div>
						<div id="header-functions" class="pull-right">
							<div id="user-info" class="clearfix">
								<span class="info">
									Seja bem vindo(a)
									<span class="name">
										<%=link_to current_professional.name, [:admin,current_professional]%>
									</span>									
								</span>						
							</div>
							<div id="logout-ribbon">
								<%=link_to destroy_professional_session_path, :method => :delete do%>
								<i class="icon-off"></i>
								<%end%>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="content-wrap">
			<div id="content" class="sidebar sidebar-minimized">
				<div id="content-outer">
					<div id="content-inner">
						<aside id="sidebar">
							<nav id="navigation" class="collapse">
								<ul>
									<li class="<%=active_class('dashboard')%>">
										<%=link_to admin_dashboard_path do%>
										<span title="Dashboard">												
											<i class="icon-home"></i>
											<span class="nav-title">Dashboard</span>
										</span>								
										<%end%>		
									</li>
									<li class="<%=active_class('events')%>">										
										<span title="Eventos">
											<i class="icon-calendar"></i>
											<span class="nav-title">Eventos</span>
										</span>
										<ul class="inner-nav">
											<li class="<%=active_action('events', 'new')%>">
												<%=link_to new_admin_event_path do%>
												<i class="icol-calendar-1"></i>
												Agendamento Manual
												<%end%>
											</li>
											<li class="<%=active_action('events', 'easy_new')%>">
												<%=link_to easy_new_admin_events_path do%>
												<i class="icol-calendar-2"></i>
												Agendamento Fácil
												<%end%>
											</li>
											<li class="<%=active_action('events', 'index')%>">
												<%=link_to admin_events_path do%>
												<i class="icol-application-view-list"></i>
												Todos os Eventos
												<%end%>
											</li>
											<li>
												<%=link_to admin_events_path(:professional => current_professional) do%>
												<i class="icol-bricks"></i>
												Meus Eventos
												<%end%>
											</li>
										</ul>					
										
									</li>

									<li class="<%=active_class('professionals')%>">										
										<span title="Funcionários">
											<i class="icon-official"></i>
											<span class="nav-title">Funcionários</span>
										</span>																
										<ul class="inner-nav">
											<li class="<%=active_action('professionals', 'index')%>">
												<%=link_to admin_professionals_path do%>
												<i class="icol-application-view-list"></i>
												Listar Funcionários
												<%end%>
											</li>
											<li class="<%=active_action('professionals', 'new')%>">
												<%=link_to new_admin_professional_path do%>
												<i class='icol-add'></i>
												Novo Funcionário
												<%end%>
											</li>

										</ul>
									</li>

									<li class="<%=active_class('services')%>">										
										<span title="Serviços">
											<i class="icon-cog-3"></i>
											<span class="nav-title">Serviços</span>
										</span>																
										<ul class="inner-nav">
											<li class="<%=active_action('services', 'index')%>">
												<%=link_to admin_services_path do%>
												<i class="icol-application-view-list"></i>
												Listar Serviços
												<%end%>
											</li>
											<li class="<%=active_action('services', 'new')%>">
												<%=link_to new_admin_service_path do%>
												<i class='icol-add'></i>
												Novo Serviço
												<%end%>
											</li>

										</ul>
									</li>

									<li>
										<span title="Clientes">
											<i class="icon-users"></i>
											<span class="nav-title">Clientes</span>
										</span>
									</li>
									<li class="<%=active_class('salons')%>">
										<%=link_to admin_salon_path(current_professional.salon) do%>
											<span title="Configurações">
												<i class="icon-cogs"></i>
												<span class="nav-title">Meu Salão</span>
											</span>
										<%end%>
									</li>												
								</ul>
							</nav>
						</aside>
						<div id="sidebar-separator"></div>
						<section class="clearfix" id='main'>
							<%= yield %>
						</section>		
					</div>
				</div>

			</div>
		</div>

		<footer id="footer">
			<div class="footer-left">MoonCake - Responsive Admin Template</div>
			<div class="footer-right"><p>Copyright 2012. All Rights Reserved.</p></div>
		</footer>
	</body>
	<script type="text/javascript">
	<% flash.each do |name, msg| %>		
	var noty = noty(
	{
		text: '<%=escape_javascript(msg)%>',
		type: "<%= escape_javascript(name.to_s == 'notice' ? 'success' : 'error')%>",
		timeout: 4000
	}
	);
	<%end%>				
	</script>

	</html>
