<!DOCTYPE html>
<html>
<head>
	<title>InstaBeauty - Administrativo</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="admin-body">
	<div class="modal hide fade" id="confirmation-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Confirmação</h3>
		</div>
		<div class="modal-body">
			<p></p>
		</div>
		<div style="display:none" class="link" data-destination="">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss = "modal">Cancelar</a>
			<a class="btn btn-primary" id="confirm-btn">Confirmar</a>
		</div>
	</div>
	<div class="modal hide" id="loading-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Carregando...</h3>
		</div>
		<div class="modal-body">
			<p>
				Processando, por favor aguarde...
				<br>
				<%=image_tag "/assets/ajax_loader.gif"%>
			</p>
		</div>
		<div style="display:none" class="link" data-destination="">
		</div>		
	</div>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a data-target=".navbar .nav-collapse" data-toggle="collapse" class="btn btn-navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<div class="nav-collapse">
					<a href="/home/">
						
					</a>
					<ul class="nav pull-right">    
            <li>
							<%=link_to [:admin,current_professional.salon] do%>								
								<strong>
									<%=current_professional.salon.name%>
								</strong>
							<%end%>							
						</li>						
            <li>
							<%=link_to [:admin,current_professional] do%>								
							<strong>
								<%=current_professional.name%>
							</strong>
							<%end%>							
						</li>
						<li class="divider-vertical"></li>                                        
						<li>
							<%=link_to "Sair", destroy_professional_session_path, :method => :delete%>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container admin-container">		
		

		<!-- main content -->
		<div class="row">
			<div class="span2">				
				<div id="navigation-site">
					<div class="main-nav-collapse">
						<button class="btn btn-collapse" data-toggle="collapse" data-target=".main-nav-collapse .nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<ul class="nav nav-list nav-collapse">
							<li class="nav-header">
								Menu
							</li>							
							<li class = "<%=active_class('events')%>">
								<%=link_to search_admin_events_path do%>									
								<i class="icon-list-alt"></i>
								<i class="icon-list-alt icon-white"></i>
								Agendamentos
								<%end%>
							</li>
              <li class = "<%=active_class('professionals')%>">
								<%=link_to admin_professionals_path do%>									
								<i class="icon-user"></i>
								<i class="icon-user icon-white"></i>
								Profissionais
								<%end%>
							</li>
							<li class = "<%=active_class('services')%>">
								<%=link_to admin_services_path do%>
								<i class="icon-briefcase"></i>
								<i class="icon-briefcase icon-white"></i>
								Serviços
								<%end%>
							</li>
							<li>
								<%=link_to destroy_professional_session_path, :method => :delete do%>		
								<i class="icon-off icon-white" title="My Feed"></i>
								Sair
								<%end%>
							</li>

						</ul>
					</div>
				</div>				
			</div>
			<div class="span10" id='main'>
				<%= yield %>
				<br />
				<br />
				<br />
			</div>
			
		</div>		
		</body>
		<script type="text/javascript">
		<% flash.each do |name, msg| %>		
			var noty = noty(
			{
				text: '<%=escape_javascript(msg)%>',
				type: "<%= escape_javascript(name.to_s == 'notice' ? 'success' : 'error')%>",
				timeout: 4000
			}
			);
		<%end%>				
		</script>

		</html>
