<div class="modal hide fade" id="new_working_time">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Novo Horário</h3>
  </div>
  <div class="modal-body">    
    <%@working_time = WorkingTime.new(
      :from_time => Time.zone.parse("08:00").strftime("%H:%M"),
      :to_time => Time.zone.parse("18:00").strftime("%H:%M")
    )%>
    <%= simple_form_for([:admin,@professional,@working_time],:html=>{:class=>"form-vertical",:remote=>true}) do |f| %>
    <div class="form-content">
      <%=f.input :day, :label => "Dia da semana", :collection => Date::DAYNAMES.collect.with_index{|a,i| [a,i]}, :include_blank => false%>
      <%=f.input :from_time, :label => "Início", :as => :string, :input_html => {:class => 'timepicker'}%>
      <%=f.input :to_time,:label => "Fim", :as => :string, :input_html => {:class => 'timepicker'}%>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss='modal'>Cancelar</a>
    <%=f.submit "Salvar", :class=> "btn btn-primary", :disable_with => "Salvando..."%>    
  </div>
  <%end%>
</div>