<div class="row-fluid">
  <div class="span12">      
    <%= form_for(@event, {:html => {:id => "new-event-form", :remote => true}}) do %>
      <%if @salon%>        
        <%if isClient?%>          
          <div class="alert alert-block alert-info fade in">            
            <h4 class="alert-heading"><%=@salon.name%></h4>
            <p>
              <%=image_tag @salon.logo.url(:thumb)%>
              <address>                
                <%=@salon.address%>                
                <br />
                <%=@salon.city%>, <%=@salon.state%> <%=@salon.zipcode%>
                <br />
                <%=@salon.landphone%>
              </address>
            </p>
            <p>
              <%=link_to "Escolher outro salão",salons_url, :class =>"btn btn-info"%>              
            </p>
          </div>
        <%else%>
          <%=render "/admin/events/choose_client"%>  
        <%end%>

      <%else%>

        <h3 class="heading">
          Selecione um entre seus salões favoritos
          <%=link_to "Buscar Todos", salons_url, :class=> "pull-right btn btn-info"%>
        </h3>

        <%=render "/salons/favorite_salons"%>
      <%end%>
      <p><%=render "/events/new_choose_service"%></p>
      <p><%=render "/events/new_choose_professional"%></p>
      <%=render "/events/new_event_calendar"%>
    <%end%>
  </div>    
</div>