
<div class="span12" id="user-list">
	<h3 class="heading">Meus Agendamentos </h3>
	<div class="row-fluid">
		<div class="input-prepend">
			<span class="add-on ad-on-icon">
				<i class="icon-search"></i>
			</span>
			<input type="text" class="user-list-search search" placeholder="Buscar">
		</div>
			<!-- Sorting
			<ul class="nav nav-pills line_sep">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Ordenar por 
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu sort-by">
						<li>
							<a href="javascript:void(0)" class="sort" data-sort="sl_status">por data</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="sort" data-sort="sl_name">por serviço
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" class="sort" data-sort="default">por profissional</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Exibir apenas <b class="caret"></b></a>
					<ul class="dropdown-menu filter">
						<li class="active"><a href="javascript:void(0)" id="filter-none">Todos</a></li>
						<li><a href="javascript:void(0)" id="filter-online">Eventos Passados</a></li>
						<li><a href="javascript:void(0)" id="filter-offline">Eventos Futuros</a></li>
						<li><a href="javascript:void(0)" id="filter-offline">Eventos Cancelados</a></li>
					</ul>
				</li>
			</ul>
		-->
	</div>
	<ul class="list user_list">
		<%@events.each do |e|%>
		<li id="<%=e.id%>">
			<span style="display:none" class="sl_id">
				<%=e.id%>
			</span>
			<%=link_to e,
			"data-method-type" => :delete, 
			:class => "btn btn-mini pull-right btn-danger confirmable",
			"data-message" => "Deseja realmente cancelar este agendamento?" do%>
			<i class="icon-trash"></i>
			Cancelar
			<%end%>
			<%=link_to edit_salon_event_path(e.salon,e), :class => "btn btn-mini pull-right btn-warning" do%>			
				<i class="icon-edit"></i>
				Remarcar
			<%end%>
			<%label_class = e.reschedule ? "label-important" : "label-success"%>
			<span class="label <%=label_class%> sl_status">
				<%=e.start_at.strftime("%d de %B às %H:%M")%>
			</span>

			<%=link_to e.service.name, "#", :class => "sl_name"%>
			<br>
			<small class="s_color"><b>com: </b>
				<span class = "sl_professional"><%=e.professional.name if e.professional%><span>
				</small>			
			<%if e.reschedule%>			
				<small><label class="label">
					Este agendamento foi cancelado e marcado para reagendamento, por favor escolha outra data para este evento, ou cancele-o
				</label></small>
			<%end%>
			</li>
			<div class="clear"></div>
			<%end%>
		</ul>
		<div class="pagination">
			<ul class="paging bottomPaging">
			</ul></div>
		</div>