<li class="sidebar-item">
  <a href="#" class="image-container">
    <%=image_tag salon.logo.url(:thumb)%>
  </a>
  <h5>
    <%=link_to salon.name, salon%>
  </h5>
  <span class="post-date">
    <em><%="#{salon.city}, #{salon.state}"%> - <%=formatted_phone(salon.landphone)%></em></span>
    <%=link_to "Agendar", new_salon_event_url(salon), :class => "btn btn-primary"%>
  </li>