<li class="sidebar-item" data-id="<%=salon.id%>">
  <a href="#" class="image-container">
    <%=image_tag salon.logo.url(:thumb)%>
  </a>
  <h5>
    <%=link_to salon.name, salon%>
  </h5>
  <span class="post-date">
    <em><%="#{salon.city}, #{salon.state}"%> - <%=formatted_phone(salon.landphone)%></em>
  </span>
  <%=link_to "Agendar", new_salon_event_url(salon), :class => "btn btn-primary"%>
  <div class="clearfix"> </div>
  <div class="favorite_actions">
    <%=link_to "#", :class => "star_fav favorite" do%>          
      <span class="awe-star"></span>
      Remover dos meus salões          
    <%end%>
  </div>
</li>