<div id="search-field">          
  <ul class="nav nav-pills">
    <li class="active"><a href="#name-search" data-toggle="tab">Buscar por nome</a></li>
    <li><a href="#address-search" data-toggle="tab">Buscar por endereço</a></li>
  </ul>    
  <div class="tab-content">
    <div class="tab-pane active" id="name-search">
      <%= form_tag salons_path, :method => :get do %>      
      <div class="input-append">      
        <%= text_field_tag :query, params[:query], :class=> "input-xlarge", :placeholder => "Digite o nome do salão" %>
        <%= submit_tag "Buscar", :name => nil, :class=> "btn" %>
        
      </div>
      <%end%>    
    </div>

    <div class="tab-pane" id="address-search">
      <%= form_tag salons_path, :method => :get do %>
      <div class="input-append">
        <%= text_field_tag :location, params[:location], :class=> "input-xlarge", :placeholder => "Digite a rua, bairro, cidade ou cep"%>
        <%= submit_tag "Buscar", :name => nil, :class=> "btn" %>                
      </div>
      <span class="help-block" id="geolocation_status">
        <a href="javascript:locationSearch();">Encontrar minha localização atual</a>
      </span>      
      <% end %>      
    </div>
  </div>
</div>