<div class="row-fluid">  
  <div class="span4">
    <h3 class="heading">Meus Salões | Favoritos</h3>
    <div id="mini_grid" class="wmk_grid">
      <ul>
        <%@my_salons_and_favorites.each do |salon| %>
        <li class="thumbnail">
          <%=link_to new_event_url(:salon => salon) do%>                        
          <%=image_tag salon.logo.url(:thumb)%>
          <%end%>
          <p>
            <a href="javascript:void(0)" title="Remove"><i class="icon-trash"></i></a>
            <a href="javascript:void(0)" title="Edit"><i class="icon-pencil"></i></a>
            <%=link_to new_event_url(:salon => salon), :style => "float:left" do%>
            <span><strong><%=salon.name%></strong></span>
            <%end%>
            <br>    
            <%=link_to "Ver Detalhes", salon%>

          </p>
        </li>                
        <%end%>
      </ul>
    </div>
  </div>
  <div class="span8">
    <h3 class="heading">
      Buscar Salões
    </h3>    
    <ul class="nav nav-tabs" id="search-tabs">
      <li>
        <a href="#name-search-tab" data-toggle="tab">
          Buscar por nome
        </a>
      </li>
      <li>
        <a href="#address-search-tab" data-toggle="tab">
          Buscar por endereço
        </a>
      </li>
      <li>
        <a href="#location-search-tab" data-toggle="tab">
          Encontrar os mais próximos
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="name-search-tab">
        <div class="well well-large salon_search" id="name_search_well">
          <h3>Busque o seu salão preferido</h3>
          <%= form_tag salons_path, :method => :get, :remote => true do %>
          <div class="input-append">
            <%= text_field_tag :query, params[:query], :class=> "span5", :size => 16 %>
            <%= submit_tag "Buscar", :name => nil, :class=> "btn" %>
            <span class="help-block">
              Digite o nome do salão              
            </span>
          </div>
          <%end%>
        </div>
      </div>
      <div class="tab-pane" id="address-search-tab">
        <div class="well well-large salon_search" id="address_search_well">
          <h3>Encontre o salão mais próximo de onde você está!</h3>
          <%= form_tag salons_path, :method => :get, :remote => true do %>
          <div class="input-append">
            <%= text_field_tag :location, params[:location], :class=> "span5", :size => 16 %>
            <%= submit_tag "Buscar", :name => nil, :class=> "btn" %>
            <span class="help-block">
              Digite parte do endereço, bairro, cidade, estado ou cep de onde você está              
            </span>
          </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="location-search-tab">
        <div class="well well-small" id="geolocation_info">
        </div>
      </div>
    </div>
    
    
    <div id="large_grid" class="wmk_grid">            
    </div>

  </div>
</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

$(document).ready(function(){
  
  <%if params[:location].present?%>
    $('#search-tabs a[href="#address-search-tab"]').tab('show');  
  <%else%>
    $('#search-tabs a[href="#name-search-tab"]').tab('show');  
  <%end%>

  

  function successGeocoded(address){    
    $("#geolocation_info").html(
      "<p>Localização aproximada encontrada: <br><strong>" + address.formatted_address + "</strong></p>"
      );
    addLoading($("#large_grid"));
    $.ajax({
      url:"<%=escape_javascript(salons_path)%>" + ".js" ,
      data: {location: address.formatted_address},      
      dataType: "script"
    });
  }
function
   errorGeocoded(){

  }

  function mapThisGoogle(latitude,longitude){    
    // Start up a new reverse geocoder for addresses?
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(latitude, longitude);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
          successGeocoded(results[0]);
        } else {
          errorGeocoded()
        }
      } else {
        errorGeocoded();
      }    
    });
  }

  function success(position){    
    mapThisGoogle(position.coords.latitude,position.coords.longitude);    
  }

  function error(type){
    $("#geolocation_info").html("<p>Me desculpe, mas sua localização não pôde ser determinada. Por favor, utilize outra opção de busca</p>");
  }

  function locationSearch(){
    if (navigator.geolocation) {
      $("#geolocation_info").html("Obtendo sua localização para encontrar os salões mais próximos <%=escape_javascript(image_tag '/assets/ajax_loader.gif')%>").slideDown("fast");
      navigator.geolocation.getCurrentPosition(success, error);
    } else {
      error('not supported');
    }  
  }

  $('a[href="#location-search-tab"]').on('shown', function (e) {
    locationSearch();  
  });

});

</script>