<div id="content" class="span12 salon-profile">
  <div id="salon-profile">
    <div class="profile-header">
      <%=image_tag @salon.logo.url%>
      <h3>    
        <%=@salon.name%>
        <address>        
          <p><span class="awe-home"></span> <%=@salon.address%> - <%=@salon.neighborhood%></p>
          <p><span class="awe-map-marker"></span> <%=@salon.city%>, <%=@salon.state%> - <%=@salon.zipcode%></p>
          <p><span class="awe-phone"></span> <%=formatted_phone(@salon.landphone)%></p>
        </address>      
      </h3>      
    </div>    
    <div class="profile-body">
      <h3>
        Sobre o salão
      </h3>      
    </div>
  </div>
</div>