<%=render "top_menu"%>

<%= render "change_password"%>

<%=render "/admin/working_times/modal_form"%>




<div id="main-header" class="page-header">
	<h1 id="main-heading">
		Detalhes do funcionário <span><%=@professional.name%></span>
	</h1>

</div>
<div id="main-content">
	<%=render "context_menu"%>
	<div class="row-fluid">
		<div class="form-horizontal widget">
			<div class="widget-header">
				<span class="title">Perfil do usuário</span>
				<div class="toolbar">
					<% if can? :update, @professional %>
						<%=link_to edit_admin_professional_path(@professional), :class => "btn btn-gebo btn-mini" do%>
							<i class="icol-application-edit"></i>
							Alterar Perfil
						<%end%>
					<%end%>					
				</div>
			</div>

			<div class="widget-content table-container">
				<table class="table table-striped table-detail-view">
					<tbody>
						<tr>
							<th>Nome</th>
							<td><%=@professional.name%></td>
						</tr>
						<tr>
							<th>Email</th>
							<td><%=@professional.email%></td>
						</tr>					
						<tr>
							<th>Senha</th>
							<td>******** | <%=link_to "Alterar Senha", "#change_password", :data => {:toggle => "modal"}%></td>
						</tr>
						<tr>
							<th>Telefone Fixo</th>
							<td><%=@professional.landphone%></td>
						</tr>
						<tr>
							<th>Telefone Celular</th>
							<td><%=@professional.celphone%></td>
						</tr>
						<tr>
						<tr>
							<th>Endereço</th>
							<td>
								<address>                
									<%=@professional.address%>, <%=@professional.house_number%>                 
									<br />
									<%=@professional.city%>/<%=@professional.state%>   <%=@professional.zipcode%>								
								</address>
							</td>
						</tr>
					</tbody>					
				</table>
			</div>		
		</div>
		<%=render "professional_services"%>
		<%=render "/admin/working_times/working_times"%>	
	</div>
</div>
