<div id="main-header" class="page-header">
    <h1 id="main-heading">
        Invoice
    </h1>
</div>

<div id="main-content">
    <div class="row-fluid">
        <div class="span12 widget">
            <div class="widget-content clearfix">
                <div class="span8">
                    <h3><%=@payment.subscription.salon.name%></h3>

                    <address>
                        <%=@payment.subscription.salon.address%><br>
                        <%=@payment.subscription.salon.city%>, <%=@payment.subscription.salon.state%> - <%=@payment.subscription.salon.zipcode%><br>                        
                        <%=@payment.subscription.salon.landphone%>
                    </address>                    
                </div>

                <div class="span3 widget-content table-container">
                    <h3>Instanapp</h3>
                    <table class="table table-detail-view">                        
                        <tbody>
                            <tr>
                                <th>Invoice #</th>
                                <td> <%=@payment.id%></td>
                            </tr>
                            <tr>
                                <th>Código MoIP</th>
                                <td><%=@payment.moip_code%></td>
                            </tr>
                            <tr>
                                <th>Data de Pagamento</th>
                                <td><%=@payment.payment_date%></td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>

                <div class="span11 widget-content table-container clearfix">
                    <table class="table">                        
                        <tbody>
                            <tr>
                                <th>Bla bla</th>
                                <td>Bla bla bla</td>
                            </tr>l
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>        
    </div>
</div>

