<div id="main-header" class="page-header">
    <h1 id="main-heading">
        Recibo
    </h1>
</div>

<div id="main-content">
    <div class="row-fluid">
        <div class="span12 widget">
            <div class="widget-content clearfix">
                <div class="span8">
                    <h3><%=@payment.subscription.salon.name%></h3>

                    <address>
                        <%=@payment.subscription.salon.address%><br>
                        <%=@payment.subscription.salon.city%>, <%=@payment.subscription.salon.state%> - <%=@payment.subscription.salon.zipcode%><br>                        
                        <%=@payment.subscription.salon.landphone%>
                    </address>                    
                </div>

                <div class="span3 widget-content table-container">
                    <h3>Instanapp</h3>
                    <table class="table table-detail-view">                        
                        <tbody>
                            <tr>
                                <th>Recibo #</th>
                                <td> <%=@payment.id%></td>
                            </tr>
                            <tr>
                                <th>Código MoIP</th>
                                <td><%=@payment.moip_code%></td>
                            </tr>                          
                        </tbody>
                    </table>
                </div>
                
                <div>
                    <table class="table table-striped">
					          <thead>
						          <tr>
							          <th>Descrição</th>
							          <th>Preço</th>
							          <th>Data de Vencimento</th>							
							          <th>Data de Pagamento</th>
							          <th></th>		
						          </tr>
					          </thead>
					          <tbody>
						          
					          <tr>					
						          <td><%=@payment.description%></td>
						          <td><%= @payment.price  ? number_to_currency(@payment.price.real) : "  -"  %></td>					
						          <td><%=@payment.due_date%></td>
						          <td><%=@payment.payment_date%></td>
					          </tr>
						        
					          </tbody>					
				          </table>	
                </div>
            </div>            
        </div>        
    </div>
</div>

