<%= form_for(User.new, :as => :user, :url => registration_path(:user)) do |f| %>
  <div class="controls">
    <%= f.text_field :name, :placeholder => "Nome Completo", :class => "span6" %>
  </div>
  <div class="controls">
    <%= f.text_field :email, :placeholder => "Email", :class => "span6" %>   
  </div>

  <div class="controls controls-row">
    <%= f.password_field :password, :placeholder => "Senha", :class => "span3" %>  
    <%= f.password_field :password_confirmation, :placeholder => "Confirme sua senha", :class => "span3" %>
  </div>
  <div class="form-actions">
    <%= f.submit "Cadastrar", :class => "btn btn-primary" %>
  </div>
<% end %>