<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>Instanapp | Área do cliente</title>
	<meta name="description" content="Instanapp é um sistema de agendamento no salão de beleza pela internet">
	<meta name="author" content="Instanapp | www.instanapp.com.br">
	<meta name="robots" content="instanapp, agendamento, salão de beleza, salão">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<%= stylesheet_link_tag    "application-customer", :media => "all" %>
	<%= javascript_include_tag "application-customer" %>
	<%= csrf_meta_tags %>
	<script src="//use.typekit.net/xqn7tbp.js"></script>
	
	<!-- Fav and touch icons -->
	<link rel="shortcut icon" href="/assets/customer/ico/favicon.ico">

	<!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/customer/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/customer/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/assets/customer/ico/apple-touch-icon-57-precomposed.png"> -->
	
</head>
<body>
	<div class="modal hide fade" id="confirmation-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Confirmação</h3>
		</div>
		<div class="modal-body">
			<p></p>
		</div>
		<div style="display:none" class="link" data-destination="">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss = "modal">Cancelar</a>
			<a class="btn btn-primary" id="confirm-btn">Confirmar</a>
		</div>
	</div>
	<div class="modal hide" id="loading-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Carregando...</h3>
		</div>
		<div class="modal-body">
			<p>
				Processando, por favor aguarde...								
			</p>
			<br />
			<%=image_tag "/assets/ajax_loader.gif"%>
		</div>
		<div style="display:none" class="link" data-destination="">
		</div>		
	</div>	
	<!-- <div id="bg">
		<img src="/assets/customer/bg/halftone.png" alt="background image" />
	</div> -->

	<!--///////////////////////////// Header Area //////////////////////////////////-->

	<!-- Header Start -->
	<header class="header">
		
		<div id="nav" class="container">
			<div class="row">
				<!-- Logo & Navigation -->
				<div class="span12" role="navigation" id="mainnav">									

					<!-- Navigation Start -->
					<nav id="responsive-nav" class="hidden-desktop">
						<div class="collapse-menu">
							<a href="#" class="brand">Frenzy</a>							
							<ul class="user-menu">
								<li><a href="#signInModal" data-toggle="modal">Sign In</a></li>
								<li><a href="#">Sign Out</a></li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account 
										<span class="awe-caret-down icon-white"></span></a>
										<ul class="dropdown-menu">
											<li><a href="#"><span class="awe-dashboard"></span> Dashboard</a></li>
											<li><a href="#"><span class="awe-user"></span> Profile</a></li>
											<li><a href="#"><span class="awe-cog"></span> Settings</a></li>
											<li>
												<%=link_to destroy_user_session_path, :method => :delete, :class => "awe-signout" do%>
												<span class="awe-signout">
													Sair
												</span>
												<%end%>												
											</li>
										</ul>
									</li>
								</ul>
								<span class="collapse-trigger icon awe-chevron-down"></span>
							</div>
							<ul class="first-level dropdown-nav">
								<li><a href="index.html">Home</a></li>
								<li><a href="#">Home template</span></a>									
								</li>								
								<li><a href="post.html">Post Archives</a></li>
								<li><a href="post-single.html">Post Single</a></li>
								<li><a href="elements.html">Post Elements</a></li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="contact.html">Contact Us</a></li>
							</ul>
					</nav>							
					<nav id="main-navigation" class="visible-desktop">
						<ul class="primary-menu">
							<li class="<%=active_class('dashboard')%>">
								<%=link_to "Dashboard", dashboard_path%>
							</li>
							<li class="<%=active_class('events')%>">
								<%=link_to "Agendamentos", events_path%>
							</li>
							<li class="<%=active_class('salons')%>">
								<%=link_to "Salões", salons_path%>
							</li>
						</ul>
						
							<ul class="pull-right profile_actions">																		
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										Diego Marcolan
										<span class="awe-caret-down icon-white"></span>
									</a>
									<ul class="dropdown-menu">										
										<li>
											<%=link_to current_user do%>
												<span class="awe-user"></span>Minha Conta
											<%end%>												
										</li>										
										<li>
											<%=link_to destroy_user_session_path, :method => :delete do%>
												<span class="awe-signout">
													Sair
												</span>
											<%end%>
										</li>
									</ul>
								</li>
							</ul>
						
					</nav>
					<!-- Navigation End -->
					</div>
				</div>
			</div>
		</header>
		<!-- Header End -->



		<!--///////////////////////////// Main Content Area //////////////////////////////////-->

		<!-- Main Content Wrapper Start -->
		<div class="container" role="main">				
			<section id="main-content" class="row home">
				<%=yield%>					
			</section>
		</div>
		<!-- Main Content Wrapper End -->

		<!--///////////////////////////// Footer Area //////////////////////////////////-->

		<!-- Footer Start -->
		<footer class="footer">
			
		</footer>
		<!-- Footer End -->


		<!-- Modal -->
		<div id="signInModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="signInModalLabel">Sign In</h3>
			</div>
			<div class="modal-body">
				<form method="post" action="#" name="login_form">
					<p><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
					<p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
					<p><button type="submit" class="btn btn-primary">Sign in</button>
						<a href="#">Forgot Password?</a>
					</p>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
		<script>$(document).ready(function(){try{Typekit.load();}catch(e){console.log(e)}}); </script>
	</body>
	</html>